.result{
    margin-top: 25px;
    background-color: #f2f2ed;
    display: flex;
    justify-content: center;
    height: 100px;
    width: 100%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    align-items: center;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    
    }

@media screen and (min-width:700px){

    .convert-wrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .result, .form{
        width: 80%;
    }

   

}